<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Current Site: {{ request.site.name }}</title>
  </head>

  <body>
    <header>
      <div class="logo">{% block logo %}{% endblock %}</div>
      <h1>Welcome to {{ request.site.name }}!</h1>
    </header>
    <section>
      <h2>Contents</h2>
      {% block content %}{% endblock %}
    </section>

    <style>
      header {
        display: flex;
        align-items: center;
      }
      .logo {
        margin-right: 1em;
      }
    </style>
  </body>
</html>
